body {
    font-family: sans-serif;
    background-color: #E6F9FC;
}

header{
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
    background-color: FFCD00;
}

img{
    width: 200px;
    height: 200px;
    margin: 5px;
}
.gallery{
    display: flex;
    justify-content: center

 }
footer{
    font-size: 12px;
    text-align: center;
}
